.timer {
  font-family: 'Noto Sans', serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #acbac7;
  line-height: 55px;
  height: 55px;
  width: 140px;
  margin: 0;
  background: linear-gradient(to left, #111111, #102027, #111111, #102027, #111111, #102027, #111111, #102027);
  border: 1px solid #444c56;
  border-radius: 2px;
  text-shadow: 0 0 5px #2d333b, 0 0 1px #ffffff;
}
