html, body {
  margin: 0;
  padding: 0;
}

.puzzle {
  height: 100vh;
  padding-top: 10px;
  background: linear-gradient(to left, #111111, #102027, #111111, #102027, #111111, #102027, #111111, #102027, #111111, #102027);
}

.puzzle-container {
  width: 310px;
  margin: 0 auto;
}
