.tile {
  display: flex;
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0;

  &-element {
    width: 65px;
    height: 65px;
    margin: auto;
    font-family: 'Noto Sans', serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    color: #acbac7;
    cursor: pointer;
    background: linear-gradient(to left, #111111, #102027, #111111, #102027, #111111, #102027, #111111, #102027);
    border: 1px solid #657282;
    border-radius: 2px;
    text-shadow: 0 0 5px #2d333b, 0 0 1px #ffffff;

    &:hover {
      filter: brightness(135%);
    }

    &_zero {
      background-color: transparent;
      cursor: auto;

      &:hover {
        filter: brightness(100%);
      }
    }
  }
}
